<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/images/logo2.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">LIFE IS SIMPLE</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/Gestion-client">
    <mat-icon>people</mat-icon> Gerer Client
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/Gestion-service">
    <mat-icon>business_center</mat-icon> Gerer services
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/Gestion-activite">
     <mat-icon>calendar_view_month</mat-icon> Gerer Activite
  </a>
  <div *ngIf="isShown">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/Gestion-utilisateur" >
     <mat-icon>account_circle</mat-icon>Gerer Utilisateur
  </a>
</div>
  <mat-divider></mat-divider>
  <div *ngIf="isShown">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/corbeille" class="user mt-2 d-flex align-items-center" >
      <mat-icon>delete</mat-icon> Corbeile Liste utilisateurs
    </a>
  </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/corbeilleClient" class="user mt-2 d-flex align-items-center">
      <mat-icon>delete</mat-icon> Corbeille Liste Clients
    </a>



</mat-nav-list>


